*{
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
display: flex;
background-color:#E1DBE6;


}
.welcome{
    height:1000px;
    width:1000px;
    background-color:#E1DBE6;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.hi{
    display: flex;
    margin-left: 200px;
    flex-direction: column;
}
.welcome-img{
  
    height: 950px;
    width: 950px;
    background-color: #E1DBE6;

}
 .miNombre{
     font-size:60px ;
     color:#CE7885 ;
     margin-bottom: 5px;
     margin-top: 0px;
     padding:0px;
    }
    .miPersona{
         margin-left: 10px;
         color: rgb(105, 105, 105);
     }

     .loQueHago{
        height:50px ;
         width: 160px;
         border-radius: 20%;
         background-color: #CE7885;
         display: flex;
         justify-content: center;
         align-items: center;
         }
a{
    text-decoration: none;
    color:  rgb(105, 105, 105);
}
 